/* Color de fondo */
/*
body {
  background-color: #334466;
}*/

/* Imagen de fondo */
/*
div {
  border: 1px, solid, red;
  width: 50%;
  height: 50vh;
  background-image: url("./img/img1.png");
  background-size: contain;
}*/

/* background-size: cover; la imagen cubre todo el div */

/*--------------------------------------------------------------------*/

.fondo-color {
  background-color: #ffd700;
  padding: 20px;
  margin-bottom: 20px;
}

.fondo-imagen {
  background-image: url("https://placehold.co/600x200");
  /* https://picsum.photos/200/300 */
  background-size: cover;
  height: 200px;
  color: #ffffff;
  padding: 20px;
}
