/* Uso de selector universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 25px;
  font-style: normal;
}

header {
  justify-content: space-between;
  display: flex;
  padding: 10px;
  align-items: center;
}

.header-h1 {
  width: 300px;
  height: 150px;
  padding: 10px;
  border: 2px solid #333;
  margin: auto;
  border: double;
  overflow: auto;
}

.CssLinea ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 15px;
}

.CssLinea a {
  text-decoration: none;
  cursor: pointer;
  color: #f0f;
}

.img1 {
  position: relative;
  left: 30px;
  top: 20px;
  background-color: #f0f0f0;
  width: 200px;
  height: 100px;
}
