* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 30px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* CSS basico para Grid */

/*
.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr; /* Una columna de 200px y otra que
ocupa el espacio restante 
  grid-template-rows: auto 1fr auto; /* Tres filas, la del medio es flexible 
  gap: 10px; /* Espacio entre los elementos 
}

.header {
  grid-column: 1 / 3; /* La cabezera ocupa las dos columnas 
}*/

/*
.menu {
  grid-column: 1 / 2;
}

.main {
  grid-column: 2 / 3; /* El contenido principal ocupa la segunda
columna 
}

.footer {
  grid-column: 1 / 3; /* El pie de página también ocupa las dos
columnas 
}*/

/* --------------------------------------------------- */
/* Ejemplo 2 */

.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
}

.flex-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header,
.footer {
  grid-column: 1 /3;
}

.main {
  grid-column-end: 2 /3;
}

/* ----------------------------------------------------- */

/*  Implementación de Media Queries  */

/* Estilos generales */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

/* Estilos para pantallas medianas (más de 768px) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

/*  
  Explicación:

 ● @media only screen and (max-width: 600px): aplica los estilos a pantallas con un
 ancho máximo de 600px (ideal para celulares).

 ● @media only screen and (min-width: 768px): aplica los estilos a pantallas con un
 ancho mínimo de 768px (usualmente tablets y computadoras más pequeñas)

*/

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr; /* Una sola columna en pantallas
pequeñas */
  }
}

/* Estilos para pantallas medianas */
@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr; /* Dos columnas en pantallas
medianas */
  }
}

/* Estilos para pantallas grandes */
@media only screen and (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas en
pantallas grandes */
  }
}
