* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
}

header {
  margin: 20px;
  padding: 15px;
  border: 2px groove #f25;
  background-color: #ff5;
}

header h1 {
  display: flex;
  justify-content: center;
}

main {
  margin: 20px;
  padding: 15px;
  border: 2px dashed #000;
  background-color: #3fb3d8;
}

main p {
  color: #cd143c;
  font-size: 18px;
}

footer {
  margin: 20px;
  padding: 30px;
  border: 2px outset #483d88;
  background-color: #708090;
  box-sizing: border-box;
}

footer p {
  display: flex;
  justify-content: flex-end;
}
